input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 65px;
  height: 37px;
  border: 1px solid #888;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
