input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 65px;
  height: 37px;
  border: 1px solid #888;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
.gradientstop {
  padding: 100px 0;
}
.btnsr {
  /* margin: 10px; */
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto !important;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btnsr:hover {
  background-position: right center !important;
  color: #fff;
  text-decoration: none;
}
.sidebars {
  background: linear-gradient(
    to left,
    rgb(43, 88, 118) 0%,
    rgb(78, 67, 118) 100%
  );
}
.topbar {
  background: linear-gradient(
    to right,
    rgb(43, 88, 118) 0%,
    rgb(78, 67, 118) 100%
  );
  color: #fff;
}
.sidebars .logo-details {
  height: 60px !important;
}
.account ul li {
  margin-right: 15px;
  font-size: 20px;
}
